<!DOCTYPE html>
<html>
  <head>
    <title>Simple realtime app</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>HI</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>
