<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wearatals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  
  </head>
  <body>
    <div class="sidebar">
    <div style="color:white; background-color:turquoise;height:70px;font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight:bolder;font-size:xx-large;">H</div>
    
    <a href="patients.html" style="position:relative;right:10px;"><i class="fa fa-home" aria-hidden="true"></i></a>
    <i class="fa fa-fw fa-calendar-check"></i>
    
    <a href="user_registeration.html" style="position:relative;right:10px;"><i class="fas fa-user-plus"></i></a>
    <i class="fas fa-search"></i>
    <br>
    <a href="login.html"style="position:relative;right:10px;"><i class="fas fa-sign-out-alt"></i></a>
</div>
<div class="main">

<h1 style="display:inline-block;color:turquoise;position:relative;right:120px;top:20px;font-family: 'PT Serif', serif;">Welcome</h1>

<div style="position:relative;right:120px;top:30px; width:280px;height:120px;background-color:#F0F0F0">
<img style="height:100px;float:left;margin-right:20px;position:relative;top:12px;left:10px;" src="images/medical-appointment.png" alt="Appointment">
<h3 style="display:inline-block;position:relative;left:20px;line-height:35px;"><span style="color:darkturquoise;font-size: x-large;">25</span><br>Appointments</h3>

<div style="position:relative;left:300px;bottom:108px; width:280px;height:120px;background-color:#F0F0F0">
<img style="height:100px;float:left;margin-right:20px;position:relative;top:12px;left:10px;" src="images/siren.png" alt="Urgent Cases">
<h3 style="display:inline-block;position:relative;left:20px;line-height:35px;"><span style="color:red;font-size: x-large;">02</span><br>Urgent Cases</h3>

<div style="position:relative;left:300px;bottom:108px; width:290px;height:120px;background-color:#F0F0F0">
<img style="height:100px;float:left;position:relative;top:12px;left:10px;" src="images/doctor.png" alt="Doctors">
<h3 style="display:inline-block;position:relative;left:20px;line-height:35px;"><span style="color:darkturquoise;font-size: x-large;">02</span><br>Doctors Available</h3>

<div style="position:relative;left:310px;bottom:108px; width:290px;height:120px;background-color:#F0F0F0">
<img style="height:100px;float:left;position:relative;top:12px;left:10px;" src="images/nurse.png" alt="Doctors">
<h3 style="display:inline-block;position:relative;left:20px;line-height:35px;"><span style="color:darkturquoise;font-size: x-large;">06</span><br>Nurses Available</h3>
</div>
<div style="position:absolute;">
  <table id="myTable" width=1500 style="position:relative;right:600px;bottom:50px;">
  <head style="text-align:centre;">
  <th style="position:relative;right:190px;">Patient</th>
  <th style="position:relative;right:100px;">Patient Id</th>
  <th style="position:relative;right:60px;">Ward</th>
  <th style="position:relative;right:90px;">Bed No.</th>
  <th style="position:relative;right:100px;">Status</th>
  <head>
  
  <tr>
    <td><a href="vitals.html" style="text-decoration: none;color:black;">Edward Mathews</a></td>
    <td contenteditable="True">#10023456</td>
    <td contenteditable="True">02</td>
    <td contenteditable="True">07</td>
    <td><select name=Status id="Status">
      <option value="Stable">Urgent</option>
    <option value="Urgent">Stable</option></select></td>
  </tr> 
  <tr>
    <td>Ng Wei Da</td> 
    <td contenteditable="True">#10023435</td>
    <td contenteditable="True">02</td>
    <td contenteditable="True">09</td> 
    <td><select name=Status id="Status">
      <option value="Stable">Stable</option>
    <option value="Urgent">Urgent</option></select></td> 
  </tr>
  <tr>
    <td >Lee Jit Tong</td> 
    <td contenteditable="True">#10023463</td>
    <td contenteditable="True">02</td>
    <td contenteditable="True">03</td> 
    <td><select name=Status id="Status">
      <option value="Stable">Urgent</option>
    <option value="Urgent">Stable</option></select></td> 
  </tr>
  <tr>
    <td >Tan Ming Hua</td> 
    <td contenteditable="True">#10023478</td>
    <td contenteditable="True">02</td>
    <td contenteditable="True">04</td> 
    <td><select name=Status id="Status">
      <option value="Stable">Stable</option>
    <option value="Urgent">Urgent</option></select></td> 
  </tr>
  <tr>
    <td>Muhammad Ishak</td> 
    <td contenteditable="True">#10023492</td>
    <td contenteditable="True">02</td>
    <td contenteditable="True">06</td>  
    <td><select name=Status id="Status">
      <option value="Stable">Stable</option>
    <option value="Urgent">Urgent</option></select></td>
  </tr>
  <tr>
    <td>Raj Anand</td> 
    <td contenteditable="True">#10023422</td>
    <td contenteditable="True">02</td>
    <td contenteditable="True">08</td> 
    <td><select name=Status id="Status">
      <option value="Stable">Stable</option>
    <option value="Urgent">Urgent</option></select></td> 
  </tr>
  </table>
  
  <div>


</body>
</html>
