<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <title>Wearatals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="index.js" charset="utf-8"></script>
    
</head>
<body>
  <div class="sidebar">
    <div style="color:white; background-color:turquoise;height:70px;font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight:bolder;font-size:xx-large;">H</div>
    
    <a href="patients.html" style="position:relative;right:10px;"><i class="fa fa-home" aria-hidden="true"></i></a>
    <i class="fa fa-fw fa-calendar-check"></i>
    <br>
    <a href="user_registeration.html" style="position:relative;right:10px;"><i class="fas fa-user-plus"></i></a>
    <i class="fas fa-search"></i>
    <br>
    <a href="login.html"style="position:relative;right:10px;"><i class="fas fa-sign-out-alt"></i></a>
</div>
  <div class="row m-0" style="display:relative;right:1000px;">
    <div class="col-6">
 <div style="background-color:#F0F0F0;color:turquoise;position:relative;top:20px;left:30px;padding:5px;margin-bottom:50px;margin-left:0;"><h3 style="display:inline-block;position:relative;left:20px;">Patient Details</h3></div>
 <div class = "form-group" style="position:relative;left:50px;">
             <label for = "fname">Full Name</label>
             <input type = "text" name = "fname" value = "" id="cellOne" class = "form-control form-control-lg">
         </div>
    </div>
  
    <div class="col-6" style="position:relative;left:50px;top:150px;">
      <div class = "form-group">
          <label for = "Gender">Gender:</label>
          <input type="radio" name="gender" value="male" checked> Male
          <input type="radio" name="gender" value="female"> Female<br>
      </div>
 </div> 
    <div class="col-6" style="position:relative;left:50px;">
         <div class = "form-group">
             <label for = "NRIC">NRIC</label>
             <input type = "text" name = "NRIC" value = "" class = "form-control form-control-lg">
         </div>
    </div>
 <div class="col-6" style="position:relative;left:50px;">
      <div class = "form-group">
          <label for = "phone">Phone Number</label>
          <input type = "tele" name = "phone" value = "" class = "form-control form-control-lg">
      </div>
 </div>
 <div class="col-6" style="position:relative;left:50px;">
  <div class = "form-group">
      <label for = "Patient ID">Patient ID</label>
      <input type = "text" name = "Patient ID" value = "" id="cellTwo"class = "form-control form-control-lg">
  </div>
</div>
 <div class="col-6" style="position:relative;left:50px;">
      <div class = "form-group">
          <label for = "Admission Date">Admission Date</label>
          <input type="date" id="start" name="trip-start"
       value=""
       min="2021-01-01" max="2021-12-31"class = "form-control form-control-lg">
      </div>
 </div>
 <div class="col-6" style="position:relative;left:50px;">
      <div class = "form-group">
        <label for = "Ward Number">Ward Admitted</label>
        <input type = "number" name = "Ward Number" min="1" id="cellThree"class = "form-control form-control-lg">
    </div>
</div>
<div class="col-6" style="position:relative;left:50px;">
  <div class = "form-group">
    <label for = "Bed Number">Bed Number</label>
    <input type = "number" name = "Bed Number" min="1" id="cellFour"class = "form-control form-control-lg">
</div>
</div>
<div class="col-6" style="position:relative;left:50px;">
  <div class = "form-group">
      <label for = "Sensor ID">Sensor ID (If muliple ids seperate them with comma)</label>
      <input type = "text" name = "Sensor ID" value = "" class = "form-control form-control-lg">
  </div>
</div>
<div class="col-6" style="position:relative;left:50px;">
  <div class = "form-group">
      <label for = "Allergies">Allergies (if any)</label>
      <input type = "text" name = "Allegies" value = "" class = "form-control form-control-lg">
  </div>
</div>
<div class="col-6" style="position:relative;left:50px;">
  <div class = "form-group">
      <label for = "medicalCondition" >Medical Condition: </label>
      <textarea id="medicalCondition" name="medicalCondition" rows="4" cols="50" class = "form-control form-control-lg"></textarea>
  </div>
</div>
<div style="position:relative;left:100px;top:120px;">
  <button onclick="myFunction()">Submit</button>
</div>

</div>

</body>
</html>
