<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wearatals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="images/favicon.ico">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script>
  window.onload = setupRefresh;
    function setupRefresh()
    {
        setInterval("refreshBlock();",30000);
    }
    
    function refreshBlock()
    {
       $('#block1').load('path/to/databasepage.php');
    }
</script>
</head>
  <body>
    <div class="navbar">
        <a class="active"href="#">Vitals</a> 
        <a href="#"> Prescription</a> 
        <a href="#"> Diagnosis</a> 
        <a href="#">Notes</a>
        <a href="#">Personal Details</a>
        <a href="Baseline.html">Baseline Values</a>
    </div>
    <div class="sidebar">
        <div style="color:white; background-color:turquoise;height:70px;font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight:bolder;font-size:xx-large;">H</div>
        <a href="index.html" style="position:relative;right:10px;"><i class="fa fa-home" aria-hidden="true"></i></a>
    
    <a href="User Registration.html"style="position:relative;right:10px;"><i class="fas fa-user-plus"></i></a>
    <a href="User Registration.html"style="position:relative;right:10px;"><i class="fas fa-search"></i></a>
    <a href="login.html"style="position:relative;right:10px;"><i class="fas fa-sign-out-alt"></i></a>
        
    </div>
    
    <div class="main">
        <div style="height:250px;width:200px;background-color:white;padding:20px;position:relative;right:120px;top:10px;">
         <img src="images/middle-aged-man-lying-hospital-bed-6430975-modified.png" style="width:150px;" alt="">
         <p style="position:relative;left:20px;text-align:center;display:inline-block;color:gray;">Edward Mathews<br>Male, 40 years </p>
        </div>
        <div style="height:100px;width:230px;background-color:white;padding:5px;position:relative;right:120px;top:15px;">
        <p style="position:relative;bottom:5px;display:inline-block;color:gray;">
         Patient ID  
        </p>
        <br>
        <p style="position:relative;bottom:35px;display:inline-block;">
        #10023456  
        </p>
        <p style="position:relative;bottom:52px;left:50px;display:inline-block;color:gray;">
            Blood Type  
        </p>
        <p style="position:relative;bottom:37px;right:15px;display:inline-block;">
            O Positive 
        </p>
        <p style="position:relative;bottom:60px;display:inline-block;color:gray;">
            Height  
        </p>
        <p style="position:relative;bottom:45px;right:40px;display:inline-block;">
            178cm 
            </p>
        <p style="position:relative;bottom:60px;left:50px;display:inline-block;color:gray;">
                Weight  
            </p>
        <p style="position:relative;bottom:45px;left:10px;display:inline-block;">
                80kg 
            </p>
        <div style="height:270px;width:200px;background-color:white;padding:20px;position:relative;right:5px;bottom:25px;">
        <p style="position:relative;bottom:20px;display:inline-block;color:gray;">
                Ward/Bed  
            </p>  
            <br>
        <p style="position:relative;bottom:47px;display:inline-block;">
            2/7 
            </p> 
        <br>
        <p style="position:relative;bottom:70px;display:inline-block;color:gray;">
            Primary Doctor  
        </p> 
        </div>
    <br>
    <p style="position:relative;left:15px;bottom:300px;display:inline-block;">
        Dr John Tan
        </p> 
    <br>
    <p style="position:relative;left:15px;bottom:330px;display:inline-block;color:gray;">
        Secondary Doctor  
    </p> 
    </div>
<br>
    <p style="position:relative;right:100px;top:90px;display:inline-block;">
    Dr Angela Teo
    </p> 
    </div>
<h1 style="display:inline-block;color:turquoise;position:relative;left:300px;bottom:480px;font-family: 'PT Serif', serif;">Current Readings</h1>
<div style="position:relative;left:300px;bottom:490px; width:280px;height:120px;background-color:#F0F0F0">
    <img style="height:100px;float:left;margin-right:20px;position:relative;top:12px;left:10px;" src="images/cardiogram.png" alt="Heart Rate">
    <h3 style="display:inline-block;position:relative;left:20px;line-height:35px;top:20px;">Heart Rate:</h3>
</div>
<div style="position:relative;left:600px;bottom:610px; width:280px;height:120px;background-color:#F0F0F0">
    <img style="height:100px;float:left;margin-right:20px;position:relative;top:12px;left:10px;" src="images/pulse-oximeter.png" alt="Spo2">
    <h3 style="display:inline-block;position:relative;left:20px;line-height:35px;bottom:10px;">Sp02:</h3>
</div>
<div style="position:relative;left:900px;bottom:730px; width:280px;height:120px;background-color:#F0F0F0">
    <img style="height:100px;float:left;margin-right:20px;position:relative;top:12px;left:10px;" src="images/blood-pressure.png" alt="Blood Pressure">
    <h3 style="display:inline-block;position:relative;left:5px;line-height:35px;bottom:10px;">Blood Pressure:</h3>
</div>
<h1 style="position:relative;left:300px;bottom:730px;color:turquoise; font-family: 'PT Serif', serif;">Graphs</h1>
<div id="block1"></div>
</body>