<!DOCTYPE html>
<html>
  <head>
    <title>Simple realtime app</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>HI</h1>
  </body>
</html>
